body{
    background-color: aqua;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #333;
}
li {
    font-size: 35px;
    float: left;
} 
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    margin-top: 20px;
    width: 50%;
}